//----------------------------------- default colours--------------------------------------------------------
$lightblue3 : #F4F9F9;
$lightblue2 : #CCF2F4;
$lightblue1 : #6bc3eb;
$lightgray : #e2e2e2;
$darkblue : #20175e;