@import "../../styles/style.scss";

.availability-status {
    padding: 20px;
    font-family: 'Arial, sans-serif';
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: $darkblue;
        margin-bottom: 20px;
    }

    .status-control {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: background-color 0.4s;
                border-radius: 34px;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: transform 0.4s ease;
                    border-radius: 50%;
                }
            }

            input:checked + .slider {
                background-color: #2196F3;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
                transform: translateX(26px);
            }
        }

        .status-text {
            margin-left: 10px;
            font-size: 18px;
            vertical-align: middle;
            color: #333;

            &.available {
                color: #4CAF50;
            }

            &.not-available {
                color: #F44336;
            }
        }
    }
}

// Media queries for responsive design
@media (max-width: 768px) {
    .availability-status {
        padding: 15px;

        h2 {
            font-size: 1.5rem;
        }

        .status-control {
            flex-direction: column;
            align-items: flex-start;

            .status-text {
                margin-top: 10px;
                font-size: 16px;
            }
        }
    }
}
